<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A template for ViewController and ViewModel</string>
	<key>Summary</key>
	<string>A template for ViewController and ViewModel</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Description</key>
			<string>The name of the ViewController and ViewModel.</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Default</key>
			<string>Sample</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Architecture Type</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Architecture Type:</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>ViewController</string>
			<key>Values</key>
			<array>
				<string>ViewController</string>
				<string>ViewController with ViewModel</string>
			</array>
		</dict>
    <dict>
      <key>Identifier</key>
      <string>+ViewModel</string>
      <key>Name</key>
      <string>Also create a ViewModel file</string>
      <key>Description</key>
      <string>Whether to create a ViewModel file</string>
      <key>Type</key>
      <string>checkbox</string>
    </dict>
	</array>
</dict>
</plist>
